[req]
prompt = no
distinguished_name = dn

[dn]
CN = fbs-interlock-gateway-cluster

[client_ext]
basicConstraints = critical,CA:false
keyUsage = critical,digitalSignature
extendedKeyUsage = clientAuth
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
